/*content css*/
body{
  background-color: grey;
}
.form-control{
  width:300px;
}
#header{
 width: 100%;
 height: auto;
 margin: 0 auto;
}
.content{
 width: 100%;
 margin: 0 auto;
 height: 400px;
 margin-top: 50px;
 margin-bottom: 10px;
 padding: 10px;
}
footer{
 width: 90%;
 padding-top: 20px;
 padding-bottom: 20px;
 text-align: center;
 margin: 0 auto;
 color: white;
}
footer h3{

  font-size: 12px;
}
